input {
    scale: 110%;
    margin: 5px;
    margin-left: 25px;
}
button {
    scale: 150%;
    margin: 5px;
    margin-left: 65px;
}
button#submitBtn {
    margin: 10px;
}
p {
    scale: 110%;
    margin: 5px;
    margin-left: 20px;
}
body {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    scale: 150%;
}
html {
    color-scheme: dark;
}